<h2 class="hed">A very precincty heddy herey</h2>
<p class="chatter">These are the precincts that try men's souls. That's an inspirational quote for you, you're welcome. These are the precincts that try men's souls. That's an inspirational quote for you, you're welcome.</p>
<p class="chatter">These are the precincts that try men's souls. That's an inspirational quote for you, you're welcome. You will have to fight for it, but this paragraph really shouldn't be longer than this.</p>

<div id="map-container">
  <div id="map-legend">
    <strong>County leader</strong>
    <div id="legend-items">
    {#each active_candidates as cand}
      <div class="candidate"><span class="label-{cand.toLowerCase()}"></span>{cand}</div>
    {/each}
    </div>

    <!-- <div class="legend-row">
      <div class="bar hutch"></div>
      <div class="label">Won by Hutchinson</div>
    </div>

    <div class="legend-row">
      <div class="bar stanek"></div>
      <div class="label">Won by Stanek</div>
    </div>

    <div class="legend-footer">
      <div class="footer-left">
        <div class="label">← →<br />Vote density</div>
      </div>
      <div class="footer-right">
        <div class="label">
          <div class="square"></div>
          No votes
        </div>
      </div>
    </div> -->
  </div>
  <div id="map"></div>
  <div id="map-popover"></div>
</div>

<script>
	export default {
		data() {
			return {
				active_candidates: ['Biden', 'Bloomberg', 'Buttigieg', 'Klobuchar', 'Sanders', 'Warren', 'Other']
			};
		}
	};
</script>
