<div class="strib-styles ssa ssb ssc">
  <div class="container-lg elex-header">
    <h1>How Minnesota voted in the 2020 presidential primary, neighborhood by neighborhood</h1>
    <p class="byline">By <a rel="author" href="http://www.startribune.com/michael-corey/564940042/">Michael Corey</a> and <a rel="author" href="http://www.startribune.com/jeff-hargarten/274254381/">Jeff Hargarten</a> • <span>Star Tribune</span></p>
    <!-- share -->
  </div>

  <div class="container-lg">

    <section class="leadin">
      <p>Texty texty.</p>
      <p>Herey herey.</p>
    </section>

    <section class="map-section">
      <div id="map-container">
        <div id="map-legend">
          <strong>County leader</strong>
          <div id="legend-items">
          {#each active_candidates as cand}
            <div class="candidate"><span class="label-{cand.toLowerCase()}"></span>{cand}</div>
          {/each}
          </div>
        </div>
        <div id="map"></div>
        <div id="map-popover"></div>
      </div>
    </section>

    <section class="credits">
      <p>Source: Precinct map from <a href="https://gisdata.mn.gov/">Minnesota Geospatial Commons</a>; results from <a href="https://www.sos.state.mn.us/elections-voting/election-results">Minnesota Secretary of State</a></p>
    </section>

    <section class="container-lg">
        <div class="article-author-contact">
            <div class="article-author-hcard">
                <p></p><p><span style="font-size: 10pt; font-family: Arial;"><strong>Michael Corey </strong>is a news developer for the Star Tribune. He specializes in data journalism, and his reporting has focused on mapping, science, remote sensing, history, data on the radio, police use of force, the U.S.-Mexico border wall and sexual abuse in the Catholic Church.</span></p><p></p>
                <p><a class="article-author-hcard__email" target="_blank" href="mailto:michael.corey@startribune.com?subject=How Minnesota voted in the 2020 presidential primary, neighborhood by neighborhood" data-linkname="michael.corey@startribune.com" data-linktype="email" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">michael.corey@startribune.com</a>
                <a class="article-author-hcard__twitter" href="http://twitter.com/mikejcorey" target="_blank" data-linkname="mikejcorey" data-linktype="twitter" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">mikejcorey</a></p>
          </div>
            <div class="article-author-hcard">
                <p></p><p><span style="font-size: 10pt; font-family: Arial;"><strong>Jeff Hargarten </strong>is a data journalist for the Star Tribune focusing on data-driven reporting and visualization. He has covered elections, technology, criminal justice, demographics and public health.</span></p><p></p>
                <p><a class="article-author-hcard__email" target="_blank" href="mailto:Jeff.Hargarten@startribune.com?subject=How Minnesota voted in the 2020 presidential primary, neighborhood by neighborhood" data-linkname="Jeff.Hargarten@startribune.com" data-linktype="email" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">Jeff.Hargarten@startribune.com</a>
                <a class="article-author-hcard__phone" href="tel:612-673-4642" data-linkname="612-673-4642" data-linktype="phone" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">612-673-4642</a>
                <a class="article-author-hcard__twitter" href="http://twitter.com/JeffHargarten" target="_blank" data-linkname="JeffHargarten" data-linktype="twitter" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">JeffHargarten</a></p>
          </div>
        </div>
  </section>

  </div>
</div>



<script>
	export default {
		data() {
			return {
				active_candidates: ['Biden', 'Bloomberg', 'Buttigieg', 'Klobuchar', 'Sanders', 'Warren', 'Other']
			};
		}
	};
</script>
