<div id="map-container">
  <h2 class="hed">An urban/suburban divide</h2>
  <p class="chatter">Dave Hutchinson drew most of his support from the urban core of Minneapolis, whereas most of the precincts Rich Stanek won were in the less densely populated suburbs. This map shows who won each precinct, shaded by the number of votes cast per square mile.</p>

  <div id="map">
    <div id="map-legend">
      <div class="legend-row">
        <div class="bar hutch"></div>
        <div class="label">Won by Hutchinson</div>
      </div>

      <div class="legend-row">
        <div class="bar stanek"></div>
        <div class="label">Won by Stanek</div>
      </div>

      <div class="legend-footer">
        <div class="footer-left">
          <div class="label">← →<br />Vote density</div>
        </div>
        <div class="footer-right">
          <div class="label">
            <div class="square"></div>
            No votes
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="map-popover"></div>
</div>