/**
 * Project specific styling.
 */

#map-container {
    max-width:1000px;
}
#map {
  min-height:850px;
  width:100%;
}

h2.hed {
  font-size:1.2em;
  line-height:1.4em;
  font-family: 'Benton Sans';
  font-weight:bold;
  margin-bottom:5px;
}

p.chatter {
  font-size:0.8em;
  font-family: "Benton Sans", Helvetica, Arial, sans-serif;
  color:#333;
  margin-bottom:20px;
}

/********** TOOLTIPS **********/

.mapboxgl-popup {
  position: absolute;
  max-width: 250px;
  background-color: white;
  font-size:1em;
  border: 1px solid #565656;
  border-radius: 2px;
  padding: 0.5em;
  z-index:1000!important;

  @media only screen and (max-width: 400px) {
    display:none!important;
  }
}

.mapboxgl-popup .mapboxgl-popup-tip {
    border:none;
}

.mapboxgl-popup .mapboxgl-popup-content {
    border:none;
    margin:0 0 0 0;
    padding:0 0 0 0;
    box-shadow: none;
    border-radius:0px;
}

.mapboxgl-popup h4 {
  text-align:left;
  padding-top: 0;
  margin-top: 0;
  font-size: 1.1em !important;
  margin-bottom:3px;
}

.mapboxgl-popup .winner2016 {
  font-size:0.9em;
  text-align:left;
  color:#686868;
  margin-bottom:3px;
}


.mapboxgl-popup table {
    margin-bottom:0.5em;
}

.mapboxgl-popup th {
  font-size: 0.7em;
  text-transform:uppercase;
  font-weight:normal;
}

.mapboxgl-popup th.right {
  text-align:right;
}

.mapboxgl-popup td {
  font-size: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.4em;
  padding-left:2px;
}

.mapboxgl-popup td.right {
  text-align:right;
}

.mapboxgl-popup.hidden {
  display: none;
}

$candColors: (
  sanders: #528CAE,
  buttigieg: #755893,
  klobuchar: #65935F,
  biden: #BED6E5,
  bloomberg: #BEBADA,
  warren: #C6D99E,

  steyer: #9F9F9F,
  gabbard: #9F9F9F,
  other: #9F9F9F,
  uncommitted: #9F9F9F,

  // dropped out
  booker: #9F9F9F,
  delaney: #9F9F9F,
  castro: #9F9F9F,
  williamson: #9F9F9F,
  patrick: #9F9F9F,
  bennet: #9F9F9F,
  yang: #9F9F9F,
);

@each $cand, $color in $candColors {
  .mapboxgl-popup .label-#{$cand} {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 2px;
    margin-right: 5px;
    background-color: $color;
  }
}
// .mapboxgl-popup .label-hutch {
//   width: 10px;
//   height: 10px;
//   border-radius: 50%;
//   display: inline-block;
//   margin-left: 2px;
//   margin-right: 5px;
//   background-color:#6b5b95;
// }
//
// .mapboxgl-popup .label-stanek {
//   width: 10px;
//   height: 10px;
//   border-radius: 50%;
//   display: inline-block;
//   margin-left: 2px;
//   margin-right: 5px;
//   background-color:#2b7149;
// }
//
// .mapboxgl-popup .label-oth {
//   width: 10px;
//   height: 10px;
//   border-radius: 50%;
//   display: inline-block;
//   margin-left: 2px;
//   margin-right: 5px;
//   background-color: #f7c272;
// }

/********** POPOVERS *********/

#map-popover{
  position:absolute;
  width:100%;
  bottom:0;
  background-color:white;
  padding:10px 10px 10px 10px;
  border-radius: 15px 15px 0px 0px;
  z-index:100;
  visibility:hidden;
  width:95%;
  box-shadow: 0px -2px 5px #dfdfdf;
  -moz-box-shadow: 0px -2px 5px #dfdfdf;
  -webkit-box-shadow: 0px -2px 5px #dfdfdf;
  left: 50%;
  transform: translate(-50%, 0);

  .votes-right,
  th.right {
    text-align: right;
  }

  @each $cand, $color in $candColors {
    .label-#{$cand} {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      display: inline-block;
      margin-left: 2px;
      margin-right: 5px;
      background-color: $color;
    }
  }

  // .label-stanek {
  //   width: 10px;
  //   height: 10px;
  //   border-radius: 50%;
  //   display: inline-block;
  //   margin-left: 2px;
  //   margin-right: 5px;
  //   background-color:#2b7149;
  // }
  //
  // .label-hutch {
  //   width: 10px;
  //   height: 10px;
  //   border-radius: 50%;
  //   display: inline-block;
  //   margin-left: 2px;
  //   margin-right: 5px;
  //   background-color:#6b5b95;
  // }
  //
  // .label-oth {
  //   width: 10px;
  //   height: 10px;
  //   border-radius: 50%;
  //   display: inline-block;
  //   margin-left: 2px;
  //   margin-right: 5px;
  //   background-color: #f7c272;
  // }

  table {
      margin-bottom:0em;
  }

  th {
    font-size: 0.9em;
    text-transform:uppercase;
    font-weight:normal;
  }


  td {
    font-size: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.4em;
  }

  #popover-header {
    margin-bottom:5px;

    h4 {
      float:left;
      text-align:left;
      padding-top: 0;
      margin-top: 0;
      font-size: 1.1em !important;
      margin-bottom:px;
    }

    #close {
      width:10px;
      float:right;
      text-align:left;
      padding-top: 0;
      margin-top: 0;
      margin-right:5px;
      font-size: 1.1em !important;
      margin-bottom:3px;
    }
  }
}

/********** LEGEND *********/

#map-legend {
  background-color:rgba(255, 255, 255, 0.7);;
  position:absolute;
  top:8px;
  right: 50px;
  width:225px;
  font-size:11px;
  line-height:11px;
  padding: 7px 7px 7px 7px;
  border: 2px solid #dfdfdf;
  border-radius: 5px 5px 5px 5px;
  font-family: "Benton Sans";
  color:#303030;
  text-align:center;
  z-index:1;

  @media only screen and (max-width: 500px) {
    width:100%;
    position:static;
    display:block;
    margin-left:auto;
    margin-right:auto;
    max-width:250px;
    text-align:center;
    margin-top:20px;
    margin-bottom:20px;
  }

}

.legend-row {
  height:14px;
  margin-bottom:1px;
}

.legend-row .bar {
  width:48%;
  height:10px;
  float:left;
}

.legend-row .label {
  width:50%;
  float:right;
  text-align:left;
  font-weight:normal;
  line-height:12px;

}

.legend-footer {
  display:inline-block;
  width:100%;
  margin-top:5px;

  .label {
    font-weight:normal;
    line-height:12px;
  }
}

.footer-left {
  width:48%;
  float:left;
  text-align:center;
}

.footer-right {
  width:48%;
  float:right;
  text-align:center;
}

.square {
  margin-left:auto;
  margin-right:auto;
  margin-bottom:5px;
  height: 10px;
  width: 10px;
  background-color: #dfdfdf;
}

.stanek {
  background-image: linear-gradient(to right, white , #2b7149);
}

.hutch {
  background-image: linear-gradient(to right, white , #6b5b95);
}
